<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'scipy.spatial.distance as dist' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7954a23002b377ffcfab8bf652ba44b4</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>1 'scipy.spatial.distance as dist' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'imutils.video.FileVideoStream' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0db9773ba6671d2fef995df4e923f342</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2</integer>
					</dict>
					<key>message</key>
					<string>1 'imutils.video.FileVideoStream' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'imutils.video.VideoStream' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2739eaccc5e5100e7174529780148273</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>3</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>3</integer>
					</dict>
					<key>message</key>
					<string>1 'imutils.video.VideoStream' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'imutils.face_utils' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>99454c6710c64f686b458a20e615e069</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>4</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>4</integer>
					</dict>
					<key>message</key>
					<string>1 'imutils.face_utils' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'numpy as np' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>2de7180b08dcd60d7cf74943f2afe0cc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>5</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>5</integer>
					</dict>
					<key>message</key>
					<string>1 'numpy as np' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'argparse' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>74db8623ed5051ff168c3274e11b7979</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>1 'argparse' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'dlib' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>26c6039a00302e7a6ddb2e26517790fc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>9</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>9</integer>
					</dict>
					<key>message</key>
					<string>1 'dlib' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'subprocess' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>aa53c3a2266a0bdc6760223cb37ef10c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>11</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>11</integer>
					</dict>
					<key>message</key>
					<string>1 'subprocess' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>3 local variable 'endTime' is assigned to but never used</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>5b9cd21650b11585da38ff3fd7f69c98</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>26</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>26</integer>
					</dict>
					<key>message</key>
					<string>3 local variable 'endTime' is assigned to but never used</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jay/Eye-Blinker/level3.py</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>pyflakes</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>0.1.0</string>
		</dict>
	</dict>
</dict>
</plist>
