<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'scipy.spatial.distance as dist' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>bb7159b7e62ea19223fcbc05e93073e5</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>1 'scipy.spatial.distance as dist' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'imutils.video.FileVideoStream' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b023c041c1c18b7e35473e1ba9c963cf</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>2</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>2</integer>
					</dict>
					<key>message</key>
					<string>1 'imutils.video.FileVideoStream' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'imutils.video.VideoStream' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>18199be912df1d9b9fc097ed989b5d5c</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>3</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>3</integer>
					</dict>
					<key>message</key>
					<string>1 'imutils.video.VideoStream' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'imutils.face_utils' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>252d2df53d2ba3a86bc8c3cfa09e1a73</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>4</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>4</integer>
					</dict>
					<key>message</key>
					<string>1 'imutils.face_utils' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'numpy as np' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>266de5a2b38dfbd62a6b61d06de711dc</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>5</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>5</integer>
					</dict>
					<key>message</key>
					<string>1 'numpy as np' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'argparse' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6880fd0ea9f05da5780fa4971aed259f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>1 'argparse' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'subprocess' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>49c13a5cf63e8e148f2d7871792d3493</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>11</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>11</integer>
					</dict>
					<key>message</key>
					<string>1 'subprocess' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'level3' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>e21444bc83ca0416af88141fbc65b20b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>12</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>12</integer>
					</dict>
					<key>message</key>
					<string>1 'level3' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'bright' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>3896d8869413f12d6222a662c320092d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>13</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>13</integer>
					</dict>
					<key>message</key>
					<string>1 'bright' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>1 'generate_report' imported but unused</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>7f62564294178ea648de73d22c013d52</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>14</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>14</integer>
					</dict>
					<key>message</key>
					<string>1 'generate_report' imported but unused</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>2 local variable 'predictor' is assigned to but never used</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>edec73de4956113b8411068155463f0d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>20</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>20</integer>
					</dict>
					<key>message</key>
					<string>2 local variable 'predictor' is assigned to but never used</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>2 local variable 'endTime' is assigned to but never used</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>49349db03d21eea574d4e6c4f8e666e2</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>33</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>33</integer>
					</dict>
					<key>message</key>
					<string>2 local variable 'endTime' is assigned to but never used</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
		<dict>
			<key>category</key>
			<string>unknown</string>
			<key>check_name</key>
			<string>pyflakes</string>
			<key>description</key>
			<string>4 undefined name 'playsound'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>36fe5c90456e144b0bd24947974bed53</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>0</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>56</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>0</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>56</integer>
					</dict>
					<key>message</key>
					<string>4 undefined name 'playsound'</string>
				</dict>
			</array>
			<key>type</key>
			<string>pyflakes</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/jay/Eye-Blinker/test_size.py</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>pyflakes</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>report-converter</string>
			<key>version</key>
			<string>0.1.0</string>
		</dict>
	</dict>
</dict>
</plist>
